# Python cache
__pycache__/
*.py[cod]
*$py.class

# Build and Distribution
dist/
build/
publish/
*.egg-info/
kv_hostlink-*/
.tmp/

# Virtual environments
.venv/
env/
venv/

# Tools
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Local files
local_folder/
*.log
.vscode/
.idea/
uv.lock
_site/
